<div class="footer-wrapper">
  <footer>
<div id="footer-panel">
    <a id ="home_link" href="/home">Future Path</a>
    <a id ="about_link" href="/signup">About</a>
    <a id ="help_link" href="/help">Help</a>
    </div>
  </footer>
</div>
